header {
background-color: #4056A1;
margin-top: 50px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profile-name {
font-family: source sans pro;
 max-width: 100%; 
 font-size: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: beige;
}

