header {
  background-color: #4056a1;
  margin-top: -22px;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: source sans pro;
  max-width: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
  padding-bottom: 50px;
}
